<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="Style.css" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
  </head>

  <body>
    <div>
      <header>
        <img src="Images/uae_logo.png" class="logo" />

        <div class="wrapper">
          <h1>Made in UAE</h1>
          <h2>Support Emirati Local Produce</h2>
        </div>
      </header>

    <div class="categories">
      <h2>Furniture</h2>
      <div class="categories-list">

        <a href="Coffee.html" class="single-category">
          <img src="Images/coffee_icon.png">
          <div class="category-title">Coffee</div>
        </a>

        <a href="Groceries.html" class="single-category">
          <img src="Images/supermarket_icon.png">
          <div class="category-title">Groceries</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/fastfood_icon.png">
          <div class="category-title">Fast Food</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/restaurants_icon.png">
          <div class="category-title">Restaurants</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/clothing_icon.png">
          <div class="category-title">Clothing</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/electronics_icon.png">
          <div class="category-title">Electronics</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/beauty_icon.png">
          <div class="category-title">Beauty</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/apps_icon.png">
          <div class="category-title">Apps</div>
        </a>

        <a href="#" class="single-category">
          <img src="Images/furniture_icon.png">
          <div class="category-title">Furniture</div>
        </a>
      </div>
    </div>

    <div class="footer">
      <nav>
        <a href="index.html">Home</a>
        <a href="#">About Us</a>
      </nav>
    </div>

  </body>

</html>
